* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: DarkSlateGrey;
  color: lime;
  font-family: 'DotGothic16', sans-serif;
}

header, footer {
  background: blue;
  color: white;
  height: 200px;
}

main {
  background: DimGray;
  color: black;
}

.row {
  width: 100%;
  height: 550px;
}

.col1 {
  width: 73%;
  background: MediumVioletRed;
  color: white;
  height: 450px;
  margin: 0.5% 1%;
  float: left;
}

.col2 {
  width: 23%;
  background: OrangeRed;
  color: white;
  height: 450px;
  margin: 0.5% 1%;
  float: left;
}

.row :: after {
  clear: both;
  display: table;
  content: "";
}

.article {
  background: MidnightBlue;
  height: 200px;
  width: 400px;
  border: 2px solid lime;
}
