* {
  margin: 0;
  padding: 0;
}

.row {
  width: 80%;
}

.logo {
  display: inline;
  float: left;
  background-color: yellow;
  font-size: 3em;
}

.nav {
  list-style-type: none;
  overflow: hidden;
}

.nav li {
  float: left;
  background: red;
  margin-left: 5%;
}

li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.4em;
  color: black;
}

a:hover {
  color: white;
}

li:hover {
  background: black;
  color: white;
}


/* Copied from https://www.w3schools.com/css/css_rwd_mediaqueries.asp */
/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.row::after {
  content: "";
  clear: both;
  display: table;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}
